<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/estilosCabecera.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilosPrincipal.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilosMusica.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilosDetalles.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilosGaleria.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilosEventos.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Euphoria+Script&display=swap" rel="stylesheet">
</head>
<body>
   
   {% block content %}
   {% endblock %}

   <div class="footer">
    <div>© 2025 Nuestra Web.</div> 
    <div><a target="_blank" href="https://www.instagram.com/lucia_pm04/"><i class="fa-brands fa-instagram"></i></a><p>lu</p></div> 
    <div><a target="_blank" href="https://www.instagram.com/javiitrujilloo/"><i class="fa-brands fa-instagram"></i></a><p>javi</p></div> 
   </div>
</body>
</html>